.navbar__container{
    background-color:  #A6AEBF;
    padding: 10px;
    display: flex;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    

    .logo{
        display: flex;
        font-size: 2.5rem;
        align-items: center;
        cursor: pointer;
    }
}

