.navbar__container{
    background-color:  #A6AEBF;
    padding: 10px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    width: 100%;
    height: auto;

    .logo{
        display: flex;
        font-size: 2.5rem;
        align-items: center;
        cursor: pointer;

        @media (width <= 1000px){
            font-size: 2rem;
        }
    }
}

