.fav__layout {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 40px;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;

    @media(width <= 700px){
        padding: 20px;
    }

    .favorite__list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        width: 100%;
        margin-top: 40px;
        gap: 20px;
        
        @media screen and (max-width: 1100px) {
            grid-template-columns: repeat(4, 1fr);
          }

          @media screen and (max-width: 700px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
          }


        .meal__item {
            display: flex;
            flex-direction: column;
            border-radius: 8px;
            align-items: center;
            height: 100%;
            background-color: rgba(239, 239, 239, 0.926);;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
            width: 100%;
            max-width: 100%;
            

            .meal__item__layout{
                padding: 10px;

                .action{
                    display: flex;
                    justify-content: space-between;
                    margin-top: 10px;

                    .btn__view{
                        width: 100%;
                        background-color: transparent;
                        outline: 2px solid #493628;
                        color: #493628;
                        cursor: pointer;
                        font-weight: 700;
                        border: none;
                        border-radius: 4px;
                    }

                    .btn__view:hover{
                        background-color: #493628;
                        color: white;
                    }
                }

                .ratings{
                    margin-top: 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .fav__icon{

                        svg{
                            color: #dc5167;
                            cursor: pointer;
                        }
                    }

                    .btn__rate{
                        background-color: #ffbc0b;
                        border: none;
                        outline: 1px solid #493628;
                        border-radius: 6px;
                        cursor: pointer;
                        
                    }
                    .btn__rate:hover{
                        background-color: #e8af11;
                        color: white;
                    }

                    svg{
                        height: 30px;
                        width: 28px;
                    }
                }
            }

            .meal__name{
                margin-top: 20px;
                font-size: .9rem;
                text-align: center;
                font-weight: bold;

                @media screen and (max-width: 1100px) {
                   font-size: 1rem;
                  }
            }

            img{
                width: 200px;
                height: auto;
                border-radius: 6px;
                max-width: 100%;
                min-width: 100%;
            }
        }
    }

    /* Adjust for smaller screens */
 

    .loader {
        position: absolute;
        top: 50%;
        left: 50%;
    }

    
}


.rating__popup{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 300px;
    align-items: center;

    svg{
        height: 30px;
        width: 30px;
        margin-bottom: 20px;
    }
    button{
        width: 100%;
    }
}

.rating__popup{
        
    .btn__submit_rate{
        background-color: transparent;
        cursor: pointer;
        border: none;
        outline: 2px solid #493628;
        border-radius: 4px;
    }

    .btn__submit_rate:hover{
        color: white;
        background-color: #493628;
    }
}