.recipe__layout{
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media(width <= 1000px){
        padding: 40px;
    }

    .searchbar{
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        border-radius: 12px;
    }
    
    .tag{
        text-align: center;
        margin-bottom: 20px;
        font-style: italic;

        @media(width <= 1000px){
            font-size: 1.4rem;
        }
    }

   form{
    display: flex;
    justify-content: center;
    width: 500px;
    @media(width <= 1000px){
        width: 400px;
    }

    input[type=text]{
        background-color: white;
        background-position: 10px 10px; 
        background-size: 20px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        background-position: 10px 12px;
        width: 100%;
        border-radius: 12px 0 0 12px;
        border: none;
        outline: none;
    }

    button{
        all: unset;
        padding: 12px;
        border-radius: 0 12px 12px 0;
        background: #493628;
        border: none;
        cursor: pointer;
        color: rgb(232, 232, 232);
        font-weight: bold;
    }
    button:hover{
        background: rgb(150, 150, 150);
    }
   }

   .show__loading{
    margin-top: 10px;
   }

   .results{
    
    
    .meal__result{



        .meal__result_con{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            padding: 10px;
            gap: 10px;

            @media(width <= 1100px){
                grid-template-columns: repeat(4, 1fr);
            }
            @media(width <= 700px){
                grid-template-columns: repeat(2, 1fr);
            }


            .meal__list{
                margin-bottom: 13px;
                display: flex;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                background: #FFF8DE;
                flex-direction: column;
                border-radius: 12px;
                gap: 5px;
                width: 100%;
    
                @media(width <= 1000px){
                    width: 100%;
                    margin: auto;
                    margin-bottom: 13px;
                }
    
                .meal__name{
                    font-size: 1rem;
                    height: 30px;
                    font-weight: 600;
                    overflow: hidden;
                    padding: 8px;
                }
    
                .content{
                    padding: 6px;
                    width: 100%;
    
                    .content__details{
                        display: flex;
                        flex-direction: column;

                        .meal__cat{
                            font-size: .9rem;
                        }
    
                        .view__recipe{
                            padding: 10px;
                            background-color: transparent;
                            border-radius: 4px;
                            cursor: pointer;
                            border: none;
                            font-weight: 700;
                            color: #493628;
                            margin-top: 10px;
                            outline: 2px solid #493628;
                          
                        }
                        .view__recipe:hover{
                            background-color: #493628;
                            color: #FFF8DE;
                        }
                    }
                }
           }
        }

        .search__result{
            margin-bottom: 10px;
            font-size: 1.3rem;
        }

        .img__con{
            width: 100%;

            .meal__img{
                width: 100%;
                border-radius: 8px 8px 0 0;
            }
        }
    }
   }
}
