.loading {
    position: absolute;
    top: 50%;
    left: 50%;
}

.rating__popup{
        
    .btn__submit_rate{
        background-color: transparent;
        cursor: pointer;
        border: none;
        outline: 2px solid #493628;
        border-radius: 4px;
    }

    .btn__submit_rate:hover{
        color: white;
        background-color: #493628;
    }
}

.meal__detail__container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100vh;

    .meal__name {
        margin-bottom: 20px;
    }

    .back__btn {
        display: flex;

        .btn__back {
            all: unset;
            display: inherit;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            gap: 5px;
            padding: 12px 30px;
            background: #493628;
            border-radius: 8px;
            cursor: pointer;
            color: white;
            font-weight: bold;
            margin-bottom: 20px;

            svg {
                font-size: 1.2rem;
            }
        }

        .btn__back:hover {
            background-color: #32251c;
        }
    }

    .meal__detail__layout {
        
        .meal__video__container {
            display: grid;
            grid-template-columns: 900px;
            gap: 40px;
            width: 100%;
            margin-bottom: 30px;
            min-height: 350px;
            justify-content: center;
            align-items: center;

            @media (width < 1100px) {
                grid-template-columns: repeat(1, 1fr);
                min-height: 350px;
                height: 450px;
            }

            

            .vid__con{
                padding: 20px;
                background: #dfcabd;
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
                border-radius: 12px;
                display: grid;
                grid-template-columns: repeat(1fr);

                .fav__action{
                    margin-bottom: 10px;
                    display: flex;
                    justify-content: space-between;


                    .fav__btn {
                        all: unset;
                        display: flex;
                        align-items: center;
                        padding: 12px 30px;
                        background-color: #493628;
                        font-weight: bold;
                        cursor: pointer;
                        color: white;
                        border-radius: 8px;
    
                        svg {
                            color: black;
                            margin-right: 5px;
                        }
                    }
    
                    .fav__btn:hover {
                        background-color: #32251c;
                    }
    
                    .fav__btn.remove {
                        background-color: rgb(232, 35, 35);
                        font-size: 0.9rem;
                    }
    
                    .fav__btn.remove:hover {
                        background-color: rgb(190, 27, 27);
                    }
                }
                .meal__video {
                    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
                }

                .meal__nutrition {
                    margin: 20px 0;
                    padding: 10px;
                    
                 
    
                    div {
                        font-size: 1.1rem;
                        margin-left: 10px;
    
                        .nutrition__details {
                            font-weight: 700;
                            font-size: 1.4rem;
                        }
                    }
    
                    div:nth-child(5) {
                        margin-bottom: 20px;
                    }
    
                    .btn__rate{
                        background-color: #ffbc0b;
                        border-radius: 6px;
                        outline: 1px solid #493628;
                        border: none;
                        cursor: pointer;
                    }

                    .btn__rate:hover{
                        background-color: #e8af11;
                        color: white;
                    }
    
                    .fav__btn:hover {
                        background-color: #32251c;
                    }
    
                    .fav__btn.remove {
                        background-color: rgb(232, 35, 35);
                        font-size: 0.9rem;
                    }
    
                    .fav__btn.remove:hover {
                        background-color: rgb(190, 27, 27);
                    }
                }

                .meal__description {
                    padding: 10px;
                    width: 100%;
    
                    h3 {
                        margin: 20px 0 10px 0;
                    }
    
                    ol{
                        margin-left: 30px;
                    }
    
                    .recipe__measurement {
                        font-style: italic;
                        font-weight: bold;
                    }
                }

                .ingredients__container {
                    padding: 10px;

                    ul{
                        margin-left: 30px;
                    }
    
                    .recipe__measurement {
                        font-size: 1.1rem;
                        font-weight: bold;
                        font-style: italic;
                    }
                }
            }

            

            

            
        }
    }
}

@media (width <= 1100px) {
    .con:nth-child(2) {
        width: 100%;
    }
}
